<div>
	<h1 class="text-center w3-jumbo w3-text-shadow w3-text-cyan w3-blue-grey">Home</h1>
		<p>Welcome to the Home page!</p>
			<br/>
		<p>There's not much to put here so here's some filler text for your enjoyment!</p>
			<br/>
		<p>Roses are red, Violets are Blue...</p>
			<br/>
		<p>Sugar is sweet, and Class 'til 5 is beat.
			<i class="glyphicon glyphicon-warning-sign"></i>
			<i class="glyphicon glyphicon-cloud"></i>
			<i class="glyphicon glyphicon-flash"></i>
			<i class="glyphicon glyphicon-thumbs-down"></i>
		</p>
</div>